body {
    background-color: #DDE4EC;
    font-family: Tahoma;
}

.container {
    max-width: 650px;
    margin: 30px auto;
    padding: 25px;
    background-color: #ffffff ;
}

p {
    font-size: 12px;
    text-align: justify;
    text-indent: 30px;
    max-width: 700px;
    margin: 0 auto;
    line-height: 1.6;
    color: #2F3E46;
}

hr {
    width: 700px;
    margin: 25px auto;
    border: none;
    height: 1px;
    background-color: #8FAADC;
}

.section-title {
    font-family: Tahoma;
    font-size: 18px;
    font-weight: bold;
    max-width: 700px;
    margin: 30px auto 10px;
    color: #1F3A5F;
}
